.vscode/
node_modules/
npm-debug.log*
yarn-error.log*

eslint.config.mjs
.prettierrc.js
.editorconfig
tslint.json

tsconfig.json
gulpfile.js

.gitignore
.gitattributes

README_TEMPLATE.md

*.log
*.tmp

.github/

CODE_OF_CONDUCT.md

tests/
scripts/
